<%-include("Navbar.ejs")%>
  <!-- Bootstrap Carousel Slider -->
<div class="about_banner" style="height: 300px; width: 100%; overflow: hidden;" >
    <img src="user_assets/images/slideB.jpg" class="d-block" alt="Slide 2 " height="about" width="100%">
    <div class="carousel-caption d-md-block">
        <h2 class="text">Explore About Us</h2>
        <p class="text">We offer high-quality solutions for your helth.</p>
    </div>
</div>


   




<div class="w-100">
    <h1 class="home_about_heding text-success fw-bold mt-5" data-aos="fade-up">About Khandelwal Hospital</h1>
</div>
    <div class="container-fluid home_about_main">
        <div class="row">
            <div class="col-md-6 home_about2" data-aos="fade-right">
                <img src="user_assets/images/hospital2.jpeg" width="100%" height="100%">
            </div>
            <div class="col-md-6 home_about1" data-aos="fade-left">
           <h3 class="home_about_heding text-primary fw-bold" >Hospital</h3>
            Khandelwal Children and Eye Hospital is a trusted healthcare facility in Ahmednagar, Maharashtra, specializing in pediatric care and ophthalmology (eye care). The hospital is known for providing high-quality medical services to children and patients with eye-related issues.
            <h3 class="home_about_heding text-primary fw-bold" >Child-Friendly Atmosphere</h3>
            Our rooms are designed with bright colors, fun themes, and playful décor to bring joy and positivity.
            In addition to providing medical care, our environment encourages healing by offering a sense of safety, happiness, and distraction from the challenges of illness. With a blend of creativity and care, we aim to make every child’s hospital experience as pleasant and stress-free as possible.
            </div>
        </div>



        <div class="row mt-5">
           
            <div class="col-md-4 home_about2 " data-aos="fade-left">
                <img src="user_assets/images/img2 (4).png" width="100%" >
       
            </div>
            <div class="col-md-4 home_about2 " data-aos="fade-up">
                <img src="user_assets/images/img2 (2).png" width="100%" >
       
            </div>
            <div class="col-md-4 home_about2 " data-aos="fade-right">
                <img src="user_assets/images/img2 (3).png" width="100%" >
            </div>
        </div>

        <div class="row pt-5" data-aos="fade-down">
            <div class="col-md-6 home_about" >
                <img src="user_assets/images/img2 (4).png" width="100%">
            </div>
            <div class="col-md-6 home_about1">
        At our hospital, we prioritize creating a warm, welcoming, and vibrant environment for all our young patients. We believe that a cheerful, colorful space plays a crucial role in helping children feel comfortable and less anxious during their stay.
            </div>
        </div>

        <div class="row pt-5" data-aos="fade-down">
            <div class="col-md-6 home_about1">
                <h3 class="home_about_heding text-dark fw-bold">Childrens Care</h3>
                     Khandelwal Children and Eye Hospital specializes in comprehensive pediatric care, ensuring the health and well-being of newborns, infants, and children. The hospital provides expert diagnosis, treatment, and preventive care for various childhood illnesses and developmental concerns.
                </div>
             <div class="col-md-6 home_about">
                 <img src="user_assets/images/childrens  care.webp" width="100%">
             </div> 
         </div>
    </div>

<!-- Bootstrap 5 JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/0d06cb6a9a.js" crossorigin="anonymous"></script>


<%-include("Footer.ejs")%>
